8.1 分层索引

In [3]:
import numpy as np
import pandas as pd

In [7]:
data = pd.Series(np.random.randn(9),
        index=[['a','a','a','b','b','c','c','d','d'],
        [1,2,3,1,3,1,2,2,3]])

In [8]:
data

a  1   -0.594439
   2   -0.457143
   3    0.094897
b  1   -0.887332
   3    0.465775
c  1    1.368195
   2    0.880278
d  2   -1.534503
   3   -1.074101
dtype: float64

In [9]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [10]:
data.loc[['b','d']]

b  1   -0.887332
   3    0.465775
d  2   -1.534503
   3   -1.074101
dtype: float64

In [11]:
data.loc[:,2]

a   -0.457143
c    0.880278
d   -1.534503
dtype: float64

In [12]:
data.unstack()

          1         2         3
a -0.594439 -0.457143  0.094897
b -0.887332       NaN  0.465775
c  1.368195  0.880278       NaN
d       NaN -1.534503 -1.074101

In [13]:
data.unstack().stack()

a  1   -0.594439
   2   -0.457143
   3    0.094897
b  1   -0.887332
   3    0.465775
c  1    1.368195
   2    0.880278
d  2   -1.534503
   3   -1.074101
dtype: float64

In [23]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)), index=[['a',         'a','b','b'], [1,2,1,2]], columns=[['Ohio','Ohio',               'Colarado'],['Green','Red','Green']])
frame

     Ohio     Colarado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [24]:
frame.index.names = ['key1','key2']
frame.columns.names = ['state','color']
frame

state      Ohio     Colarado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [25]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [28]:
frame.index

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['key1', 'key2'])

前面介绍的带有层级名称的DataFrame的列可以这样创建：MultiIndex.from_arrays([['Ohio','Ohio','Colorado'],['Green','Red','Green']],names=['state','color'])